httpd-2.2/mod_fcgid-2.3.7
httpd-2.2/httpd-2.2.*
httpd-2.4/apr-1.4.8
httpd-2.4/apr-util-1.5.2
httpd-2.4/httpd-2.4.*
httpd-2.4/build-requirements
httpd-2.4/required-libs
php-5.3/php-extensions
php-5.3/required-libs
php-5.3/php-5.3.*
php-5.4/php-extensions
php-5.4/required-libs
php-5.4/php-5.4.*
php-5.5/php-extensions
php-5.5/required-libs
php-5.5/php-5.5.*
